@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    font-family: 'Josefin Sans', sans-serif;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    overflow: hidden;
    padding: 12px;
    text-align: center;
    background: gray;
    color: black;
    font-size: 20px;
    background: linear-gradient(to right, #1e3c72, #2a5298);
    height: max-content;

}

.header h1, p{
    color: #fff;
}

.content {
    border-radius: 4px;
    margin: 0 auto;
    width: 290px;
    font-size: 23px;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.info{
    text-align: center;
    font-size: 23px;
}

.content h1{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 33px;
}

.data h4{
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.data p{
    color: #919aa3;
    border-bottom: 1px solid #e0e0e0;
    font-size: 17px;
}

.content p{
    color: #919aa3;
}

.elonimg{
    border-radius: 5px;
}

.img {

    padding-top: 2rem;
    display: flex;
    justify-content: center;
}

.image_elon {
    border-radius: 4px;
}

.projects{
    text-align: center;
    font-size: 23px;
    padding: 1%;
}

.projects h3{
    font-size: 33px;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.projects p{
    color: #919aa3;
    border-bottom: 1px solid #e0e0e0;
    font-size: 17px;
}

.social_media{
    background: linear-gradient(to right, #1e3c72, #2a5298);
    height: 50px;
}

.social_media ul{
    display: flex;
    flex-direction: row;
    padding: 0px;
    list-style: none;
    justify-content: center;
   margin: 0px;
}

.social_media ul li{
    width: 45px;
    height: 45px;
    margin-right: 10px;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
}

.social_media{
    color: #fff;
    display: block;
    font-size: 18px;
}
